<div id="indexContainer">
  <h1><img src="/images/logo-blablalivre.png" alt="BlablaLivre.fr - Critiques de livres en 140 caractères"></h1>
  <h2>Critiques de livres en 140 caractères</h2>
  <form action="/">
    <input type="text" placeholder="Votre email" name="email">
    <input type="password" placeholder="Votre mot de passe" name="password" class="isHidden">
    <button class="isHidden">Connexion</button class="isHidden">
  </form>
  <div id="socialLogins">
    <hr>
    <a href="/connexion">Connexion avec Twitter</a>
    <a href="/connexion">Connexion avec Facebook</a>
  </div>

  <p><a href="/contact">Nous contacter</a></p>  
</div>