<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <main id="main-content">
    {{{body}}}
  </main>

  <nav id="main-nav">
    <ul>
      <li><a href="/"><i class="fas fa-home fa-2x"></i></a></li>
      <li><a href="/recherche"><i class="fas fa-search fa-2x"></i></a></li>
      <li><a href="/livres"><i class="fas fa-book fa-2x"></i></a></li>
      <li><a href="/profil"><i class="fas fa-user-circle fa-2x"></i></a></li>
    </ul>
  </nav>

  <script src="/javascripts/script.js"></script>
  <script src="https://kit.fontawesome.com/08cd464889.js" crossorigin="anonymous"></script>
</body>
</html>