<div id="container-profile">
  <header>
    <h1>Modifier mon profil</h1>
  </header>

  <main>
    <h2>Mes informations principales</h2>
    <form method="POST">
      <fieldset>
        <input id="avatarPath" name="avatarPath" type="hidden">
        <label for="username">
          Pseudonyme
          <input id="username" name="username" type="text" value="{{user.username}}">
        </label>
        <label for="email">
          Adresse e-mail
          <input id="email" name="email" type="text" value="{{user.email}}">
        </label>
        <label for="newPassword">
          Nouveau mot de passe ? (facultatif)
          <input id="newPassword" name="newPassword" type="password" placeholder="************">
        </label>
        <label for="newPasswordConfirmation">
          Confirmation nouveau mot de passe
          <input id="newPasswordConfirmation" name="newPasswordConfirmation" type="password" placeholder="************">
        </label>
      </fieldset>
      <button>Mettre à jour</button>
    </form>

    <div class="social-logins">
      <h2>Me connecter un 1 clic</h2>
      <a href="" id="btn-twitter">Associer avec Twitter</a>
      <a href="" id="btn-facebook">Associer avec Facebook</a>
    </div>

    <div class="logout">
      <a href="/deconnexion" id="btn-logout">Deconnexion</a>
    </div>
  </main>
</div>