<div id="visitor-index-container">
  <h1><img src="/images/logo-blablalivre.png" alt="BlablaLivre.fr - Critiques de livres en 140 caractères"></h1>
  <h2>Critiques de livres en 140 caractères</h2>
  <form action="/">
    <input type="text" placeholder="Inscription avec email" name="email">
    <input type="password" placeholder="Votre mot de passe" name="password">
    <button>S'inscrire</button>
  </form>
  <div id="dynamic-bloc">
    <div id="social-logins">
      <p>ou avec les réseaux sociaux</p>
      <a href="/connexion" id="btn-twitter">Connexion avec Twitter</a>
      <a href="/connexion" id="btn-facebook">Connexion avec Facebook</a>
    </div>
    <div id="signup">
      <p>Déjà inscrit ? <a href="/">Se connecter</a></p>
    </div>
  </div>
</div>