<div id="container-index-visitor">
  <header>
    <h1><a href="/"><img src="/images/logo-blablalivre.png" alt="BlablaLivre.fr - Critiques de livres en 140 caractères"></a></h1>
    <h2>Critiques de livres en 140 caractères</h2>
  </header>
  <main>
    {{#if error}}
      <p class="alert">{{error}}</p>
    {{/if}}
    <form action="/inscription" method="POST">
      <input type="text" placeholder="Inscription avec email" name="email">
      <input type="password" placeholder="Votre mot de passe" name="password">
      <button>Inscription</button>
    </form>
    <div class="social-logins">
      <p>ou avec les réseaux sociaux</p>
      <a href="/connexion-twitter" id="btn-twitter">Inscription avec Twitter</a>
      <a href="/connexion-facebook" id="btn-facebook">Inscription avec Facebook</a>
    </div>
    <div id="signup">
      <p>Déjà inscrit ? <a href="/">Se connecter</a></p>
    </div>
  </main>
</div>