<div id="index-member-container">
  <div id="search">
    <i class="fas fa-search"></i>
    <input placeholder="Livres, auteurs, thématiques et membres">
  </div>

  <div id="last-reviews">
    <header>
      <h2>Critiques récentes</h2>
      <a href="">plus</a>
    </header>
    <main>
      {{#each reviews}}
        {{> reviewCard}}
      {{/each}}
    </main>
  </div>
  
  <div id="user-lists">
    <header>
      <h2>Mes listes</h2>
    </header>
    <main>
      <ul>
        <li>
          <a href="">
            <img src="/images/picto-reviews.png">
            <span>Critiques</span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/images/picto-books.png">
            <span>Déjà lus</span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/images/picto-wishes.png">
            <span>Envies</span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/images/picto-friends.png">
            <span>Membres</span>
          </a>
        </li>
      </ul>
    </main>
  </div>
  
  <div id="trending-books">
    <header>
      <h2>Livres populaires</h2>
      <a href="">plus</a>
    </header>
    <main>
      <div class="trending-book">
        <img src="https://www.blablalivre.fr/resources/vignettes/livres/covers/2/27/271/2715/27152/271524/2715248/27152480/2715248008.jpg">
        <h3>Ceci est un titre</h3>
        <p>Paul Smith</p>
      </div>
      <div class="trending-book">
        <img src="https://www.blablalivre.fr/resources/vignettes/livres/covers/2/22/226/2266/22662/226625/2266259/22662592/226625929/2266259296.jpg">
        <h3>Ceci est un titre</h3>
        <p>Paul Smith</p>
      </div>
      <div class="trending-book">
        <img src="https://www.blablalivre.fr/resources/vignettes/livres/covers/2/27/270/2702/27024/270243/2702436/27024361/270243614/2702436145.jpg">
        <h3>Ceci est un titre</h3>
        <p>Paul Smith</p>
      </div>
      <div class="trending-book">
        <img src="https://www.blablalivre.fr/resources/vignettes/livres/covers/2/22/220/2203/22030/220306/2203063/22030638/220306381/2203063815.jpg">
        <h3>Ceci est un titre</h3>
        <p>Paul Smith</p>
      </div>
    </main>
  </div>
</div>