<div id="index-member-container">
  <div id="search">
    <input placeholder="Livres, auteurs, thématiques et membres">
  </div>

  <div id="last-reviews">
    <header>
      <h2>Critiques récentes</h2>
      <a href="">plus</a>
    </header>
    <main>
      <div class="cover">
        <img src="">
      </div>
      <div class="review">
        <p>Ceci est un exemple de critiques qui ne fait pas 140 caractères.</p>
        <div class="details">
          <div class="rating">

          </div>
          <div class="review-author">
            <img src="">
            <span>Pierre</span>
          </div>
        </div>
      </div>
      <div class="user-buttons">
        <a href="">J'ai lu</a>
        <a href="">Je veux lire</a>
        <a href="">Ecrire</a>
      </div>
    </main>
  </div>
  
  <div id="user-lists">
    <header>
      <h2>Mes listes</h2>
    </header>
    <main>
      <div class="user-reviews-list">
        <img src="">
        <span>Critiques</span>
      </div>
      <div class="user-books-list">
        <img src="">
        <span>Déjà lus</span>
      </div>
      <div class="user-wishes-list">
        <img src="">
        <span>Envies</span>
      </div>
      <div class="user-friends-list">
        <img src="">
        <span>Membres</span>
      </div>
    </main>
  </div>
  
  <div id="trending-books">
    <header>
      <h2>Livres populaires</h2>
      <a href="">plus</a>
    </header>
    <main>
      <div>
        <img src="">
        <p>Ceci est un titre</p>
        <p>Paul Smith</p>
      </div>
      <div>
        <img src="">
        <p>Ceci est un titre</p>
        <p>Paul Smith</p>
      </div>
      <div>
        <img src="">
        <p>Ceci est un titre</p>
        <p>Paul Smith</p>
      </div>
      <div>
        <img src="">
        <p>Ceci est un titre</p>
        <p>Paul Smith</p>
      </div>
    </main>
  </div>
</div>