<div id="index-member-container">
  <div id="search">
    <i class="fas fa-search"></i>
    <input placeholder="Livres, auteurs, thématiques et membres">
  </div>

  <div id="last-reviews">
    <header>
      <h2>Critiques récentes</h2>
      <a href="">plus</a>
    </header>
    <main>
      {{#each reviews}}
        {{> reviewCard}}
      {{/each}}
    </main>
  </div>
  
  <div id="user-lists">
    <header>
      <h2>Mes listes</h2>
    </header>
    <main>
      <ul>
        <li>
          <a href="/{{slug}}/">
            <img src="/images/picto-reviews.png">
            <span>Critiques</span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/images/picto-books.png">
            <span>Déjà lus</span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/images/picto-wishes.png">
            <span>Envies</span>
          </a>
        </li>
        <li>
          <a href="">
            <img src="/images/picto-friends.png">
            <span>Membres</span>
          </a>
        </li>
      </ul>
    </main>
  </div>

  <div id="trending-books">
    <header>
      <h2>Livres populaires</h2>
      <a href="">plus</a>
    </header>
    <main>
      {{#each books}}
        {{> bookCard}}
      {{/each}}
    </main>
  </div>
  
</div>