<div id="container-index-member">
  <div id="search">
    <i class="fas fa-search"></i>
    <input placeholder="livres, auteurs, thématiques, etc.">
  </div>

  <div id="last-reviews">
    <header>
      <h2>Critiques récentes</h2>
      <a href="/critiques">plus</a>
    </header>
    <main>
      {{#each reviews}}
        {{> reviewCard}}
      {{/each}}
    </main>
  </div>
  
  <div id="user-lists">
    <header>
      <h2>Mes listes</h2>
    </header>
    <main>
      <ul>
        <li>
          <a href="/membre/{{user.slug}}/critiques">
            <span>Critiques</span>
          </a>
        </li>
        <li>
          <a href="/membre/{{user.slug}}/livres">
            <span>Déjà lus</span>
          </a>
        </li>
        <li>
          <a href="/membre/{{user.slug}}/envies">
            <span>Envies</span>
          </a>
        </li>
        <li>
          <a href="/membre/{{user.slug}}/abonnements">
            <span>Membres</span>
          </a>
        </li>
      </ul>
    </main>
  </div>

  <div id="trending-books">
    <header>
      <h2>Livres populaires</h2>
      <a href="/livres">plus</a>
    </header>
    <main>
      {{#each books}}
        {{> bookCard}}
      {{/each}}
    </main>
  </div>

</div>