<div id="container-index-visitor">
  <header>
    <h1><a href="/"><img src="/images/logo-blablalivre.png" alt="BlablaLivre.fr - Critiques de livres en 140 caractères"></a></h1>
    <h2>Critiques de livres en 140 caractères</h2>
  </header>
  <main>
    <form action="/connexion" method="POST">
      <input type="text" placeholder="Connexion avec email" name="email">
      <input type="password" placeholder="Votre mot de passe" name="password">
      <button>Connexion</button>
    </form>
    <div class="social-logins">
      <p>ou avec les réseaux sociaux</p>
      <a href="/connexion-twitter" id="btn-twitter">Connexion avec Twitter</a>
      <a href="/connexion-facebook" id="btn-facebook">Connexion avec Facebook</a>
    </div>
    <div id="signup">
      <p>Nouveau ? <a href="/inscription">S'inscrire</a></p>
    </div>
  </main>
</div>