*, :before, :after {box-sizing:border-box;}

:root {
  --main-bg-color: #F7F9F9;
  
  --primary-color: #2f2f2f;
  --secondary-color: #B6BECC;
  --tertiary-color: #FFFFFF;
  --quaternary-color: #337ab7;

  --main-shadow-color: 0 0.8px 2.2px rgba(0, 0, 0, 0.02),
  0 2px 5.3px rgba(0, 0, 0, 0.028),
  0 3.8px 10px rgba(0, 0, 0, 0.035),
  0 6.7px 17.9px rgba(0, 0, 0, 0.042),
  0 12.5px 33.4px rgba(0, 0, 0, 0.05),
  0 30px 80px rgba(0, 0, 0, 0.07);

  --input-size:14px;

  --gutter:1.5rem;
}

body {
  margin:0;
  font: 14px "Open Sans",sans-serif;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

#main-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

img {max-width: 100%;}

a {
  text-decoration: none;
  color: var(--quaternary-color);
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: var(--primary-color);
}

textarea:focus, input:focus, button:focus {
  outline: none;
}

::placeholder {
  color: var(--secondary-color);
}

.is-hidden {
  display: none;
}

//    _           _                   _     _ _             
//   (_)         | |                 (_)   (_) |            
//    _ _ __   __| | _____  __ __   ___ ___ _| |_ ___  _ __ 
//   | | '_ \ / _` |/ _ \ \/ / \ \ / / / __| | __/ _ \| '__|
//   | | | | | (_| |  __/>  <   \ V /| \__ \ | || (_) | |   
//   |_|_| |_|\__,_|\___/_/\_\   \_/ |_|___/_|\__\___/|_|   
//                                                          
                                                    
#index-visitor-container {
  height: 100vh;
  text-align: center;
}

#index-visitor-container img {
  margin-top: 20vh;
  width: 250px;
}

#index-visitor-container h1 {
  margin-top: 0;
  margin-bottom: -30px;
}

#index-visitor-container h2 {
  font-size: .9em;
  font-weight: 600;
  margin-bottom: 5em;
}

#index-visitor-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-visitor-container form input {
  text-align: center;
  font-size: var(--input-size);
  color: var(--primary-color);
  padding-top: .8em;
  padding-bottom: .8em;
  width: 280px;
  margin-bottom: .8em;
  box-shadow: var(--main-shadow-color);
  border: none;
  z-index: 2;
}
#index-visitor-container form input:nth-child(1) {
  z-index: 3;
}

#index-visitor-container form button {
  width: 280px;
  font-size: 1em;
  padding-top: .8em;
  padding-bottom: .8em;
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
  font-weight: 600;
  margin-bottom: 1em;
  box-shadow: var(--main-shadow-color);
  border: none;
  z-index: 1;
  --slide-bottom-y-origin: -7.6em;
  --slide-bottom-duration: 1.6s;
}

#index-visitor-container #dynamic-bloc {
  --slide-bottom-y-origin: -8em;
  --slide-bottom-y-target: 0;
  --slide-bottom-duration: 1.6s;
}

#index-visitor-container #dynamic-bloc #social-logins {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-visitor-container #dynamic-bloc #social-logins p {
  padding-top: .6em;
  padding-bottom: .3em;
  font-size: .8em;
}

#index-visitor-container #dynamic-bloc #social-logins a {
  width: 280px;
  padding-top: .8em;
  padding-bottom: .8em;
  text-align: left;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  box-shadow: var(--main-shadow-color);
  font-weight: 500;
  margin-bottom: 1em;
  padding-left: 2em;
}
#index-visitor-container #dynamic-bloc #social-logins a:hover {
  text-decoration: none;
}

#index-visitor-container #dynamic-bloc #social-logins a:before {
  font-family: 'FontAwesome';
  speak: none;
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

#index-visitor-container #dynamic-bloc #social-logins #btn-twitter:before  {
  content: "\f099";
  color: #1DA1F2;
  margin-right: 1.8em;
}

#index-visitor-container #dynamic-bloc #social-logins #btn-facebook:before {
  content: "\f082";
  color: #4267B2;
  margin-right: 1.5em;
}

#index-visitor-container #dynamic-bloc #signup {
  font-size: 0.8em;
  color: var(--primary-color);
}


//    _           _                                      _               
//   (_)         | |                                    | |              
//    _ _ __   __| | _____  __  _ __ ___   ___ _ __ ___ | |__   ___ _ __ 
//   | | '_ \ / _` |/ _ \ \/ / | '_ ` _ \ / _ \ '_ ` _ \| '_ \ / _ \ '__|
//   | | | | | (_| |  __/>  <  | | | | | |  __/ | | | | | |_) |  __/ |   
//   |_|_| |_|\__,_|\___/_/\_\ |_| |_| |_|\___|_| |_| |_|_.__/ \___|_|   
//                                                                       

#index-member-container {
}

//                      _                
//                     | |               
//    _ __   __ ___   _| |__   __ _ _ __ 
//   | '_ \ / _` \ \ / / '_ \ / _` | '__|
//   | | | | (_| |\ V /| |_) | (_| | |   
//   |_| |_|\__,_| \_/ |_.__/ \__,_|_|   
//                                       

#main-nav {
  flex: 0 0 auto;
}

#main-nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 3em;
}

#main-nav li {
  list-style-type: none;
}


//                _                 _   _                 
//               (_)               | | (_)                
//     __ _ _ __  _ _ __ ___   __ _| |_ _  ___  _ __  ___ 
//    / _` | '_ \| | '_ ` _ \ / _` | __| |/ _ \| '_ \/ __|
//   | (_| | | | | | | | | | | (_| | |_| | (_) | | | \__ \
//    \__,_|_| |_|_|_| |_| |_|\__,_|\__|_|\___/|_| |_|___/
//                                                        

.slide-bottom {
	-webkit-animation: slide-bottom var(--slide-bottom-duration, .8s) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom var(--slide-bottom-duration, .8s) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
            transform: translateY(var(--slide-bottom-y-origin, -60px));
  }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
            transform: translateY(var(--slide-bottom-y-target, 0));
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
            transform: translateY(var(--slide-bottom-y-origin, -60px));
  }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
            transform: translateY(var(--slide-bottom-y-target, 0));
  }
}