*, :before, :after {box-sizing:border-box;}

:root {
  --main-bg-color: rgba(0,0,0,1);
  --star-color: #F2A138;
  
  --primary-color: #53566f;
  --secondary-color: #B6BECC;
  --tertiary-color: #F9FAFB;
  --quaternary-color: #337ab7;
  --quinary-color: #FFFFFF;

  --main-shadow-color: 0 0 10px 5px rgba(0,0,0,0.1);

  --primary-title-size: 22px;
  --secondary-title-size: 20px;
  --primary-text-size: 18px;
  --secondary-text-size: 18px;
  --input-size: 18px;

  --primary-title-weight: 600;
  --secondary-title-weight: 600;
  --primary-text-weight: 400;
  --secondary-text-weight: 300;

  --text-lineheight: 1.1;

  --border-radius: 5px;

  --gutter: 1.5rem;
}

body {
  margin:0;
  font: var(--primary-text-size) "Open Sans",sans-serif;
  font-weight: var(--primary-text-weight);
  line-height: var(--text-lineheight);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

#main-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

img {max-width: 100%;}

a {
  text-decoration: none;
  color: var(--quaternary-color);
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: var(--primary-color);
  margin-bottom: 0;
  margin-top: 0;
}
h1 {
  font-size: var(--primary-title-size);
  font-weight: var(--primary-title-weight);
}
h2 {
  font-size: var(--secondary-title-size);
  font-weight: var(--secondary-title-weight);
}

input {
  font-size: var(--primary-text-size);
}
button {
  font-size: var(--primary-text-size);
}
textarea:focus, input:focus, button:focus {
  outline: none;
}
::placeholder {
  color: var(--secondary-color);
}


//    _           _                   _     _ _             
//   (_)         | |                 (_)   (_) |            
//    _ _ __   __| | _____  __ __   ___ ___ _| |_ ___  _ __ 
//   | | '_ \ / _` |/ _ \ \/ / \ \ / / / __| | __/ _ \| '__|
//   | | | | | (_| |  __/>  <   \ V /| \__ \ | || (_) | |   
//   |_|_| |_|\__,_|\___/_/\_\   \_/ |_|___/_|\__\___/|_|   
//                                                          
                                                    
#index-visitor-container {
  height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 400px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: -30px;
  }

  h2 {
    font-size: var(--primary-text-size);
    margin-bottom: 3em;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    input {
      text-align: center;
      color: var(--primary-color);
      padding-top: .8em;
      padding-bottom: .8em;
      width: 280px;
      margin-bottom: .8em;
      box-shadow: var(--main-shadow-color);
      -moz-box-shadow: var(--main-shadow-color);
      -webkit-box-shadow: var(--main-shadow-color);
      -o-box-shadow: var(--main-shadow-color);
      border: none;
    }
  
    button {
      width: 280px;
      padding-top: .8em;
      padding-bottom: .8em;
      background-color: var(--quaternary-color);
      color: var(--quinary-color);
      font-weight: 600;
      margin-bottom: 1em;
      box-shadow: var(--main-shadow-color);
      border: none;
    }
  }
}

#index-visitor-container #social-logins {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding-top: .6em;
    padding-bottom: .3em;
  }

  a {
    width: 280px;
    padding-top: .8em;
    padding-bottom: .8em;
    text-align: left;
    background-color: var(--quinary-color);
    color: var(--primary-color);
    box-shadow: var(--main-shadow-color);
    font-weight: 500;
    margin-bottom: 1em;
    padding-left: .8em;
  }
  a:hover {
    text-decoration: none;
  }
  a:before {
    font-family: 'FontAwesome';
    speak: none;
    font-size: 1.4em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
  }

  #btn-twitter:before  {
    content: "\f099";
    color: #1DA1F2;
    margin-right: .7em;
  }

  #btn-facebook:before {
    content: "\f082";
    color: #4267B2;
    margin-right: .4em;
  }

  #signup {
    color: var(--primary-color);
  }
}


//    _           _                                      _               
//   (_)         | |                                    | |              
//    _ _ __   __| | _____  __  _ __ ___   ___ _ __ ___ | |__   ___ _ __ 
//   | | '_ \ / _` |/ _ \ \/ / | '_ ` _ \ / _ \ '_ ` _ \| '_ \ / _ \ '__|
//   | | | | | (_| |  __/>  <  | | | | | |  __/ | | | | | |_) |  __/ |   
//   |_|_| |_|\__,_|\___/_/\_\ |_| |_| |_|\___|_| |_| |_|_.__/ \___|_|   
//                                                                       

#index-member-container {
  margin: var(--gutter);
}

#index-member-container #search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--input-size);

  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
}

#index-member-container #search i {
  margin-left: 1em;
}

#index-member-container #search input {
  width: 100%;
  padding: .6em 1em;
  border:0;
}

#last-reviews, #user-lists, #trending-books {
  margin-top: 1.8em;
}

#index-member-container #last-reviews header, #index-member-container #trending-books header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#index-member-container #last-reviews header a, #index-member-container #trending-books header a {
  
}

#index-member-container #last-reviews main {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--gutter) * -1);
  padding-left: var(--gutter);
  margin-right: calc(var(--gutter) * -1);
  padding-top: 1.2em;
  overflow: auto;
}

#index-member-container #last-reviews main .last-review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 315px;
  margin-top: 1.2em;
  margin-bottom: 2.1em;
  margin-right: 1.2em;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
  border-radius: var(--border-radius);
}

#index-member-container #last-reviews main .last-review .cover {
  width: 24em;
}

#index-member-container #last-reviews main .last-review .cover img {
  margin: -1em 1em;
  height: 12em;
  max-width: 10em;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
  border-radius: var(--border-radius);
}

#index-member-container #last-reviews main .last-review .review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .8em 1em .5em 0;
}

#index-member-container #last-reviews main .last-review .review a {
  color: var(--primary-color);
}

#index-member-container #last-reviews main .last-review .review p {
  margin-top: 0;
}

#index-member-container #last-reviews main .last-review .review .details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -0.4em;
}

#index-member-container #last-reviews main .last-review .review .details .rating {
  color: var(--star-color);
  font-weight: 600;
}

#index-member-container #last-reviews main .last-review .review .details .review-author a {
  color: var(--primary-color);
}

#index-member-container #last-reviews main .last-review .review .details .review-author span {
  margin-left: .2em;
}

#index-member-container #last-reviews main .last-review .review .details .review-author img {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
  border-radius: 50%;
}

#index-member-container #user-lists {
  margin-top: .2em;
}

#index-member-container #user-lists ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

#index-member-container #user-lists ul li {
  padding-top: .3em;
}

#index-member-container #user-lists ul a {
  color: var(--primary-color);
}

#index-member-container #user-lists ul img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
  border-radius: 50%;
  margin-bottom: .6em;
  border: 2px solid white;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
}

#index-member-container #trending-books main {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--gutter) * -1);
  padding-left: var(--gutter);
  margin-right: calc(var(--gutter) * -1);
  overflow: auto;
}

#index-member-container #trending-books main img {
  border-radius: var(--border-radius);
  height: 12em;
  max-width: 6.8em;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
}

#index-member-container #trending-books main .trending-book {
  padding-top: 1.4em;
  margin-right: 1.2em;
}

#index-member-container #trending-books main .trending-book a {
  color: var(--primary-color);
}

#index-member-container #trending-books main .trending-book .description {
  overflow: hidden;
  width: 6.5em;
}

#index-member-container #trending-books main .trending-book .description h3 {
  color: var(--primary-color);
  margin-top: .6em;
  margin-bottom: .3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#index-member-container #trending-books main .trending-book .description p {
  margin-top: 0;
}


//    _                 _          _           _           
//   | |               | |        (_)         | |          
//   | |__   ___   ___ | | _____   _ _ __   __| | _____  __
//   | '_ \ / _ \ / _ \| |/ / __| | | '_ \ / _` |/ _ \ \/ /
//   | |_) | (_) | (_) |   <\__ \ | | | | | (_| |  __/>  < 
//   |_.__/ \___/ \___/|_|\_\___/ |_|_| |_|\__,_|\___/_/\_\
//                                                         

#books-index-container {
  margin: var(--gutter);
}


//    _                 _              _                   
//   | |               | |            | |                  
//   | |__   ___   ___ | | _____   ___| |__   _____      __
//   | '_ \ / _ \ / _ \| |/ / __| / __| '_ \ / _ \ \ /\ / /
//   | |_) | (_) | (_) |   <\__ \ \__ \ | | | (_) \ V  V / 
//   |_.__/ \___/ \___/|_|\_\___/ |___/_| |_|\___/ \_/\_/  
//                                                         

#books-show-container {
  margin: var(--gutter);
}

#books-show-container nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

#books-show-container nav a {
  color: var(--secondary-color);
} 

#books-show-container #book {
  display: flex;
  flex-direction: row;
}

#books-show-container #book .cover {
  width: 8em;
  margin-right: 1em;
}

#books-show-container #book .main-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

#books-show-container #book h1 {
}

#books-show-container #book h2 {
  color: var(--secondary-color);
}

#books-show-container #book p {
  margin-bottom: 0;
}

#books-show-container #interactions {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: solid 2px var(--tertiary-color);
  border-bottom: solid 2px var(--tertiary-color);
}

#books-show-container #interactions ul {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  margin: 0;
}

#books-show-container #interactions ul li {
  list-style-type: none;
  vertical-align: middle;
}

#books-show-container #interactions ul li i {
  color: var(--secondary-color);
}

#books-show-container #interactions ul li span {
  color: var(--primary-color);
  margin-left: .5em;
}

#books-show-container #description {
  border-bottom: solid 2px var(--tertiary-color);
  margin-bottom: 1em;
  padding-bottom: 1em;
}

#books-show-container #description header {
  display: flex;
  justify-content: space-between;
}

#books-show-container #description header a {
}

#books-show-container #description .tags ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#books-show-container #description .tags ul li {
  list-style-type: none;
  vertical-align: middle;
  margin-right: .5em;
  border: 1px solid var(--tertiary-color);
  padding: .2em .5em;
}

#books-show-container #description .tags ul li a {
  color: var(--secondary-color);
}

#books-show-container #reviews header {
  display: flex;
  justify-content: space-between;
}

#books-show-container #reviews header a {
}

#books-show-container #reviews > main {
  margin-top: 1em;
}

#books-show-container #reviews main .review {
  display: flex;
  flex-direction: row;
}


//                                  _                   
//                                 | |                  
//    _   _ ___  ___ _ __ ___   ___| |__   _____      __
//   | | | / __|/ _ \ '__/ __| / __| '_ \ / _ \ \ /\ / /
//   | |_| \__ \  __/ |  \__ \ \__ \ | | | (_) \ V  V / 
//    \__,_|___/\___|_|  |___/ |___/_| |_|\___/ \_/\_/  
//                                                      

#users-show-container {
  margin: var(--gutter);
}


//                      _                    
//                     | |                   
//    _ __   __ ___   _| |__   __ _ _ __ ___ 
//   | '_ \ / _` \ \ / / '_ \ / _` | '__/ __|
//   | | | | (_| |\ V /| |_) | (_| | |  \__ \
//   |_| |_|\__,_| \_/ |_.__/ \__,_|_|  |___/
//                                                                              

#main-nav {
  flex: 0 0 auto;
  -webkit-box-shadow: 0px 99px 80px 29px rgba(0,0,0,1);
  -moz-box-shadow: 0px 99px 80px 29px rgba(0,0,0,1);
  box-shadow: 0px 99px 80px 29px rgba(0,0,0,1);
}

#main-nav a {
  color: var(--secondary-color);
}

#main-nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 3em;
  margin: 0;
}

#main-nav li {
  list-style-type: none;
}


//                _                 _   _                 
//               (_)               | | (_)                
//     __ _ _ __  _ _ __ ___   __ _| |_ _  ___  _ __  ___ 
//    / _` | '_ \| | '_ ` _ \ / _` | __| |/ _ \| '_ \/ __|
//   | (_| | | | | | | | | | | (_| | |_| | (_) | | | \__ \
//    \__,_|_| |_|_|_| |_| |_|\__,_|\__|_|\___/|_| |_|___/
//                                                        

.slide-bottom {
	-webkit-animation: slide-bottom var(--slide-bottom-duration, .8s) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom var(--slide-bottom-duration, .8s) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
            transform: translateY(var(--slide-bottom-y-origin, -60px));
  }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
            transform: translateY(var(--slide-bottom-y-target, 0));
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
            transform: translateY(var(--slide-bottom-y-origin, -60px));
  }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
            transform: translateY(var(--slide-bottom-y-target, 0));
  }
}