@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
*, :before, :after {
  box-sizing: border-box; }

:root {
  --primary-color: #233755;
  --secondary-color: #98A0B0;
  --tertiary-color: #ABB2BD;
  --quaternary-color: #EFEFEF;
  --quinary-color: #FDFDFD;
  --senary-color: #FFFFFF;
  --primary-action-color: #337ab7;
  --secondary-action-color: #aac5db;
  --star-color: #F2A138;
  --main-shadow-color: 0 0 10px 5px rgba(0,0,0,0.1);
  --primary-text-size: 20px;
  --secondary-text-size: 18px;
  --tertiary-text-size: 16px;
  --quaternary-text-size: 15px;
  --quinary-text-size: 13px;
  --senary-text-size: 12px;
  --input-size: 18px;
  --primary-text-weight: 600;
  --secondary-text-weight: 400;
  --tertiary-text-weight: 300;
  --primary-text-lineheight: 1.1;
  --secondary-text-lineheight: 1.4;
  --border-radius: 5px;
  --input-border-radius: 8px;
  --gutter: 1.5rem; }

body {
  margin: 0;
  font: var(--secondary-text-size) "Open Sans", sans-serif;
  font-weight: var(--secondary-text-weight);
  line-height: var(primary-text-lineheight);
  color: var(--secondary-color);
  background-color: var(--senary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh; }

#main-content {
  flex: 1 1 auto;
  overflow-y: auto; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: var(--primary-action-color); }

a:hover {
  text-decoration: underline; }

h1, h2, h3 {
  color: var(--primary-color);
  margin-bottom: 0;
  margin-top: 0; }

h1 {
  font-size: var(--primary-text-size);
  font-weight: var(--primary-text-weight); }

h2 {
  font-size: var(--secondary-text-size);
  font-weight: var(--primary-text-weight); }

input[type="text"], input[type="password"], textarea {
  width: 100%;
  font-size: var(--input-size);
  font-weight: var(--tertiary-text-weight);
  background-color: var(--quinary-color);
  border: 1px solid var(--quaternary-color);
  border-radius: var(--input-border-radius);
  color: var(--primary-color); }

label {
  font-size: var(--quaternary-text-size);
  font-weight: var(--primary-text-weight); }

textarea:focus, input:focus, button:focus {
  outline: none; }

::placeholder {
  color: var(--secondary-color); }

.btn-structure, .btn-primary, #container-index-visitor main form button, #container-profile main form button, .btn-secondary, .social-logins #btn-twitter, .social-logins #btn-facebook, #container-profile main .logout {
  width: 100%;
  padding-top: .8em;
  padding-bottom: .8em;
  margin-bottom: 1em;
  border-radius: var(--input-border-radius);
  font-size: var(--secondary-text-size);
  cursor: pointer; }

.btn-primary, #container-index-visitor main form button, #container-profile main form button {
  background-color: var(--primary-action-color);
  color: var(--senary-color);
  border: 0; }

.btn-secondary, .social-logins #btn-twitter, .social-logins #btn-facebook, #container-profile main .logout {
  background-color: var(--quinary-color);
  color: var(--primary-action-color);
  border: 1px solid var(--secondary-action-color); }

.social-logins a:hover {
  text-decoration: none; }

.social-logins a:before {
  font-family: 'FontAwesome';
  speak: none;
  font-size: 1.6em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle; }

.social-logins #btn-twitter, .social-logins #btn-facebook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: .5em; }

.social-logins #btn-twitter:before {
  content: "\f099";
  color: #1DA1F2;
  padding-right: .5em; }

.social-logins #btn-facebook:before {
  content: "\f082";
  color: #4267B2;
  padding-right: .5em; }

#container-index-visitor {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #container-index-visitor img {
    width: 400px; }
  #container-index-visitor h1 {
    margin-top: 0;
    margin-bottom: -30px; }
  #container-index-visitor h2 {
    font-size: var(--secondary-text-size);
    margin-bottom: 3em; }
  #container-index-visitor main {
    margin: var(--gutter); }
    #container-index-visitor main form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #container-index-visitor main form input {
        text-align: center;
        padding-top: .8em;
        padding-bottom: .8em;
        margin-bottom: .5em; }

#container-index-visitor .social-logins {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #container-index-visitor .social-logins p {
    padding-top: .6em;
    padding-bottom: .3em; }
  #container-index-visitor .social-logins #signup {
    color: var(--primary-color); }

#container-index-member {
  margin: var(--gutter); }
  #container-index-member #search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--input-size);
    background-color: var(--quinary-color);
    border: 1px solid var(--quaternary-color); }
    #container-index-member #search i {
      margin-left: 1em; }
    #container-index-member #search input {
      font-size: var(--input-size);
      width: 100%;
      padding: .8em 1em .7em 1em;
      border: 0; }

#container-index-member #last-reviews > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8em; }
  #container-index-member #last-reviews > header a {
    font-size: var(--tertiary-text-size); }

#container-index-member #last-reviews > main {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  margin-right: calc(var(--gutter) * -1);
  overflow: auto; }

#container-index-member #last-reviews .last-review-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - var(--gutter));
  margin-top: 1.2em;
  margin-right: .7em;
  border-radius: var(--border-radius);
  background-color: var(--quinary-color); }
  #container-index-member #last-reviews .last-review-card .book-cover img {
    height: 160px;
    max-width: 100px;
    border-radius: var(--border-radius); }
  #container-index-member #last-reviews .last-review-card .book-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--tertiary-text-size);
    color: var(--primary-color);
    padding: 0 .6em;
    width: 240px;
    text-align: center; }
    #container-index-member #last-reviews .last-review-card .book-review main p {
      margin-top: 0; }
    #container-index-member #last-reviews .last-review-card .book-review footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: -0.4em; }
      #container-index-member #last-reviews .last-review-card .book-review footer .rating {
        color: var(--star-color);
        font-weight: 600; }
      #container-index-member #last-reviews .last-review-card .book-review footer .author a {
        font-size: var(--tertiary-text-size); }
      #container-index-member #last-reviews .last-review-card .book-review footer .author img {
        vertical-align: middle;
        width: 25px;
        height: 25px;
        border-radius: 50%; }

#container-index-member #user-lists {
  margin-top: .2em; }
  #container-index-member #user-lists header {
    margin-top: 1.8em; }
  #container-index-member #user-lists ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: var(--tertiary-text-size); }
    #container-index-member #user-lists ul li {
      padding-top: .3em; }
    #container-index-member #user-lists ul img {
      height: 60px;
      width: 60px;
      vertical-align: middle;
      border-radius: 50%;
      margin-bottom: .6em;
      border: 2px solid white; }

#container-index-member #trending-books header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8em; }
  #container-index-member #trending-books header a {
    font-size: var(--tertiary-text-size); }

#container-index-member #trending-books main {
  display: flex;
  flex-direction: row;
  margin-right: calc(var(--gutter) * -1);
  overflow: auto; }
  #container-index-member #trending-books main img {
    border-radius: var(--border-radius);
    height: 160px;
    width: 104px; }
  #container-index-member #trending-books main .trending-book {
    padding-top: 1.4em;
    margin-right: 1em;
    padding-bottom: .5em; }
    #container-index-member #trending-books main .trending-book a {
      color: var(--primary-color); }
    #container-index-member #trending-books main .trending-book .description {
      overflow: hidden;
      width: 100px; }
      #container-index-member #trending-books main .trending-book .description h3 {
        color: var(--primary-color);
        font-size: var(--quinary-text-size);
        margin-top: .6em;
        margin-bottom: .3em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #container-index-member #trending-books main .trending-book .description p {
        margin-top: 0;
        font-size: var(--senary-text-size); }

#books-index-container {
  margin: var(--gutter); }

#container-books-show {
  margin: var(--gutter); }
  #container-books-show nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em; }
    #container-books-show nav a {
      color: var(--secondary-color); }
  #container-books-show #book {
    display: flex;
    flex-direction: row; }
    #container-books-show #book h1 {
      font-size: var(--secondary-text-size); }
    #container-books-show #book h2 {
      font-size: var(--tertiary-text-size);
      font-weight: var(--secondary-text-weight); }
    #container-books-show #book .cover {
      width: 120px;
      margin-right: 1em; }
    #container-books-show #book .main-details {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #container-books-show #book .main-details h2 {
        color: var(--secondary-color); }
      #container-books-show #book .main-details p {
        margin-bottom: 0; }
        #container-books-show #book .main-details p span {
          font-size: var(--senary-text-size); }

#container-books-show #interactions {
  margin-top: .5em;
  margin-bottom: .5em;
  border-top: solid 2px var(--quinary-color);
  border-bottom: solid 2px var(--quinary-color); }
  #container-books-show #interactions ul {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    margin: 0; }
    #container-books-show #interactions ul li {
      font-size: var(--tertiary-text-size);
      list-style-type: none;
      vertical-align: middle; }
      #container-books-show #interactions ul li i {
        color: var(--secondary-color); }
      #container-books-show #interactions ul li span {
        color: var(--primary-color);
        margin-left: .5em; }

#container-books-show #description {
  background-color: var(--quinary-color);
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
  margin-bottom: 1em;
  padding: 1em var(--gutter);
  border-bottom: solid 2px var(--quinary-color); }
  #container-books-show #description header {
    display: flex;
    justify-content: space-between; }
    #container-books-show #description header a {
      font-size: var(--tertiary-text-size); }
  #container-books-show #description .tags ul {
    display: flex;
    margin: 0;
    padding: 0; }
    #container-books-show #description .tags ul li {
      list-style-type: none;
      vertical-align: middle;
      margin-right: .5em;
      border: 1px solid var(--quinary-color);
      padding: .2em .5em;
      font-size: var(--quinary-text-size); }
      #container-books-show #description .tags ul li a {
        color: var(--secondary-color); }

#container-books-show #book-reviews {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em; }
  #container-books-show #book-reviews > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #container-books-show #book-reviews > header a {
      font-size: var(--tertiary-text-size); }
  #container-books-show #book-reviews > main {
    margin-top: 1em;
    padding-top: .5em; }

#container-books-show #book-reviews .book-review-card {
  display: flex;
  flex-direction: column;
  background-color: var(--quinary-color);
  border-radius: var(--border-radius);
  padding: .5em;
  margin-bottom: 1em;
  font-size: var(--tertiary-text-size); }
  #container-books-show #book-reviews .book-review-card header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .6em;
    border-bottom: 1px solid var(--quinary-color); }
    #container-books-show #book-reviews .book-review-card header .user {
      display: flex;
      flex-direction: row;
      align-items: center; }
      #container-books-show #book-reviews .book-review-card header .user img {
        height: 40px;
        vertical-align: middle;
        border-radius: 50%; }
      #container-books-show #book-reviews .book-review-card header .user > div {
        margin-left: .5em;
        font-size: var(--senary-text-size); }
        #container-books-show #book-reviews .book-review-card header .user > div a {
          color: var(--primary-color);
          font-weight: var(--primary-text-weight); }
        #container-books-show #book-reviews .book-review-card header .user > div .review-date {
          display: block; }
    #container-books-show #book-reviews .book-review-card header .interactions i {
      padding-right: .5em;
      padding-top: .5em; }
  #container-books-show #book-reviews .book-review-card main {
    padding-top: 1em;
    padding-bottom: .5em;
    text-align: center;
    font-size: var(--tertiary-text-size); }
    #container-books-show #book-reviews .book-review-card main .user-rating {
      padding-bottom: .8em; }

#container-books-show #popup-writing-review header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#container-books-show #popup-writing-review main {
  margin-top: 1em; }
  #container-books-show #popup-writing-review main form .bloc-rating {
    display: flex;
    flex-direction: row;
    align-items: center; }
    #container-books-show #popup-writing-review main form .bloc-rating fieldset {
      border: 0;
      padding-left: 0;
      width: 200px; }
    #container-books-show #popup-writing-review main form .bloc-rating .rating > input {
      display: none; }
    #container-books-show #popup-writing-review main form .bloc-rating .rating > label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005"; }
    #container-books-show #popup-writing-review main form .bloc-rating .rating > label {
      color: var(--secondary-color);
      float: right; }
    #container-books-show #popup-writing-review main form .bloc-rating .rating > input:checked ~ label,
    #container-books-show #popup-writing-review main form .bloc-rating .rating:not(:checked) > label:hover,
    #container-books-show #popup-writing-review main form .bloc-rating .rating:not(:checked) > label:hover ~ label {
      color: var(--star-color); }
    #container-books-show #popup-writing-review main form .bloc-rating .rating > input:checked + label:hover,
    #container-books-show #popup-writing-review main form .bloc-rating .rating > input:checked ~ label:hover,
    #container-books-show #popup-writing-review main form .bloc-rating .rating > label:hover ~ input:checked ~ label,
    #container-books-show #popup-writing-review main form .bloc-rating .rating > input:checked ~ label:hover ~ label {
      color: var(--star-color); }
    #container-books-show #popup-writing-review main form .bloc-rating #rating-label {
      flex: 1;
      font-size: var(--tertiary-text-size);
      text-align: center;
      padding-right: .2em;
      padding-bottom: .4em; }
  #container-books-show #popup-writing-review main form textarea {
    width: 100%;
    font-size: var(--tertiary-text-size);
    line-height: var(--secondary-text-lineheight);
    padding: 1em; }
  #container-books-show #popup-writing-review main form .bloc-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .2em; }
    #container-books-show #popup-writing-review main form .bloc-submit span {
      font-size: var(--tertiary-text-size); }
    #container-books-show #popup-writing-review main form .bloc-submit button {
      color: var(--primary-action-color); }
    #container-books-show #popup-writing-review main form .bloc-submit button[disabled=disabled], #container-books-show #popup-writing-review main form .bloc-submit button:disabled {
      color: var(--secondary-color); }

#users-show-container {
  margin: var(--gutter); }

#container-profile {
  background-color: var(--tertiary-color); }
  #container-profile header {
    margin-left: var(--gutter);
    margin-right: var(--gutter);
    margin-bottom: 1em;
    padding-top: 2em; }
    #container-profile header h1 {
      color: var(--senary-color);
      margin-bottom: .5em; }
    #container-profile header img {
      vertical-align: middle;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid var(--senary-color); }
  #container-profile main {
    background-color: var(--senary-color);
    padding: var(--gutter);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px; }
    #container-profile main h2 {
      font-size: var(--secondary-text-size);
      margin-bottom: .5em; }
    #container-profile main form {
      margin-bottom: 1.5em; }
      #container-profile main form fieldset {
        border: 0;
        margin: 0;
        margin-bottom: .5em;
        padding: 0; }
        #container-profile main form fieldset label {
          display: flex;
          flex-direction: column;
          padding-top: .5em;
          color: var(--primary-color); }
          #container-profile main form fieldset label input {
            padding: .8em;
            margin-top: .8em;
            margin-bottom: 1em; }
    #container-profile main .social-logins {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5em; }
      #container-profile main .social-logins h2 {
        margin-bottom: 1em; }
    #container-profile main .logout {
      text-align: center; }

#main-nav {
  flex: 0 0 auto;
  -webkit-box-shadow: 0px 99px 80px 29px black;
  -moz-box-shadow: 0px 99px 80px 29px black;
  box-shadow: 0px 99px 80px 29px black; }
  #main-nav a {
    color: var(--secondary-color); }
  #main-nav ul {
    display: flex;
    justify-content: space-between;
    padding: .5em 3em;
    margin: 0; }
    #main-nav ul li {
      list-style-type: none; }

.slide-bottom {
  -webkit-animation: slide-bottom var(--slide-bottom-duration, 0.8s) cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom var(--slide-bottom-duration, 0.8s) cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
    transform: translateY(var(--slide-bottom-y-origin, -60px)); }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
    transform: translateY(var(--slide-bottom-y-target, 0)); } }

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
    transform: translateY(var(--slide-bottom-y-origin, -60px)); }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
    transform: translateY(var(--slide-bottom-y-target, 0)); } }

/*# sourceMappingURL=style.css.map */