*, :before, :after {box-sizing:border-box;}

:root {
  --main-bg-color: rgba(0,0,0,1);
  --star-color: #F2A138;
  
  --primary-color: #53566f;
  --secondary-color: #B6BECC;
  --tertiary-color: #FFFFFF;
  --quaternary-color: #337ab7;

  --main-shadow-color: 0 0 10px 5px rgba(0,0,0,0.1);

  --input-size: 14px;

  --border-radius: 5px;

  --gutter: 1.5rem;
}

body {
  margin:0;
  font: 14px "Open Sans",sans-serif;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

#main-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

img {max-width: 100%;}

a {
  text-decoration: none;
  color: var(--quaternary-color);
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: var(--primary-color);
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-size: 1.2em;
}

textarea:focus, input:focus, button:focus {
  outline: none;
}

::placeholder {
  color: var(--secondary-color);
}

.is-hidden {
  display: none;
}

//    _           _                   _     _ _             
//   (_)         | |                 (_)   (_) |            
//    _ _ __   __| | _____  __ __   ___ ___ _| |_ ___  _ __ 
//   | | '_ \ / _` |/ _ \ \/ / \ \ / / / __| | __/ _ \| '__|
//   | | | | | (_| |  __/>  <   \ V /| \__ \ | || (_) | |   
//   |_|_| |_|\__,_|\___/_/\_\   \_/ |_|___/_|\__\___/|_|   
//                                                          
                                                    
#index-visitor-container {
  height: 100vh;
  text-align: center;
}

#index-visitor-container img {
  margin-top: 20vh;
  width: 250px;
}

#index-visitor-container h1 {
  margin-top: 0;
  margin-bottom: -30px;
}

#index-visitor-container h2 {
  font-size: .9em;
  font-weight: 600;
  margin-bottom: 5em;
}

#index-visitor-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-visitor-container form input {
  text-align: center;
  font-size: var(--input-size);
  color: var(--primary-color);
  padding-top: .8em;
  padding-bottom: .8em;
  width: 280px;
  margin-bottom: .8em;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
  border: none;
}

#index-visitor-container form button {
  width: 280px;
  font-size: 1em;
  padding-top: .8em;
  padding-bottom: .8em;
  background-color: var(--quaternary-color);
  color: var(--tertiary-color);
  font-weight: 600;
  margin-bottom: 1em;
  box-shadow: var(--main-shadow-color);
  border: none;
  --slide-bottom-y-origin: -7.6em;
  --slide-bottom-duration: 1.6s;
}

#index-visitor-container {
  --slide-bottom-y-origin: -8em;
  --slide-bottom-y-target: 0;
  --slide-bottom-duration: 1.6s;
}

#index-visitor-container #social-logins {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#index-visitor-container #social-logins p {
  padding-top: .6em;
  padding-bottom: .3em;
  font-size: .8em;
}

#index-visitor-container #social-logins a {
  width: 280px;
  padding-top: .8em;
  padding-bottom: .8em;
  text-align: left;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  box-shadow: var(--main-shadow-color);
  font-weight: 500;
  margin-bottom: 1em;
  padding-left: 2em;
}
#index-visitor-container #social-logins a:hover {
  text-decoration: none;
}

#index-visitor-container #social-logins a:before {
  font-family: 'FontAwesome';
  speak: none;
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

#index-visitor-container #social-logins #btn-twitter:before  {
  content: "\f099";
  color: #1DA1F2;
  margin-right: 1.8em;
}

#index-visitor-container #social-logins #btn-facebook:before {
  content: "\f082";
  color: #4267B2;
  margin-right: 1.5em;
}

#index-visitor-container #signup {
  font-size: 0.8em;
  color: var(--primary-color);
}


//    _           _                                      _               
//   (_)         | |                                    | |              
//    _ _ __   __| | _____  __  _ __ ___   ___ _ __ ___ | |__   ___ _ __ 
//   | | '_ \ / _` |/ _ \ \/ / | '_ ` _ \ / _ \ '_ ` _ \| '_ \ / _ \ '__|
//   | | | | | (_| |  __/>  <  | | | | | |  __/ | | | | | |_) |  __/ |   
//   |_|_| |_|\__,_|\___/_/\_\ |_| |_| |_|\___|_| |_| |_|_.__/ \___|_|   
//                                                                       

#index-member-container {
  margin: var(--gutter);
}

#index-member-container #search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--input-size);

  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
}

#index-member-container #search i {
  margin-left: 1em;
}

#index-member-container #search input {
  width: 100%;
  padding: .6em 1em;
}

#last-reviews, #user-lists, #trending-books {
  margin-top: 1.8em;
}

#index-member-container #last-reviews header, #index-member-container #trending-books header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#index-member-container #last-reviews header a, #index-member-container #trending-books header a {
  font-size: .9em;
}

#index-member-container #last-reviews main {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--gutter) * -1);
  padding-left: var(--gutter);
  margin-right: calc(var(--gutter) * -1);
  padding-top: 1.2em;
  overflow: hidden;
}

#index-member-container #last-reviews main .last-review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 315px;
  font-size: .9em;
  margin-top: 1.2em;
  margin-bottom: 2.1em;
  margin-right: 1.2em;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
  border-radius: var(--border-radius);
}

#index-member-container #last-reviews main .last-review .cover {
  width: 24em;
}

#index-member-container #last-reviews main .last-review .cover img {
  margin: -1em 1em;
  height: 12em;
  max-width: 10em;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
  border-radius: var(--border-radius);
}

#index-member-container #last-reviews main .last-review .review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .8em 1em .5em 0;
}

#index-member-container #last-reviews main .last-review .review p {
  margin-top: 0;
}

#index-member-container #last-reviews main .last-review .review .details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -0.4em;
}

#index-member-container #last-reviews main .last-review .review .details .rating {
  color: var(--star-color);
  font-weight: 600;
}

#index-member-container #last-reviews main .last-review .review .details .review-author a {
  color: var(--primary-color);
}

#index-member-container #last-reviews main .last-review .review .details .review-author span {
  margin-left: .2em;
}

#index-member-container #last-reviews main .last-review .review .details .review-author img {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
  border-radius: 50%;
}

#index-member-container #user-lists {
  margin-top: .2em;
}

#index-member-container #user-lists ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: .8em;
  font-weight: 600;
}

#index-member-container #user-lists ul li {
  padding-top: .3em;
}

#index-member-container #user-lists ul a {
  color: var(--primary-color);
}

#index-member-container #user-lists ul img {
  height: 60px;
  width: 60px;
  vertical-align: middle;
  border-radius: 50%;
  margin-bottom: .6em;
  border: 2px solid white;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
}

#index-member-container #trending-books main {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--gutter) * -1);
  padding-left: var(--gutter);
  margin-right: calc(var(--gutter) * -1);
  overflow: hidden;
}

#index-member-container #trending-books main img {
  border-radius: var(--border-radius);
  height: 12em;
  max-width: 6.8em;
  box-shadow: var(--main-shadow-color);
  -moz-box-shadow: var(--main-shadow-color);
  -webkit-box-shadow: var(--main-shadow-color);
  -o-box-shadow: var(--main-shadow-color);
}

#index-member-container #trending-books main .trending-book {
  padding-top: 1.4em;
  margin-right: 1.2em;
}

#index-member-container #trending-books main h3 {
  font-size: .8em;
  font-weight: 600;
  color: var(--primary-color);
  margin-top: .6em;
  margin-bottom: .3em;
}

#index-member-container #trending-books main p {
  font-size: .6em;
  margin-top: 0;
}

//                      _                
//                     | |               
//    _ __   __ ___   _| |__   __ _ _ __ 
//   | '_ \ / _` \ \ / / '_ \ / _` | '__|
//   | | | | (_| |\ V /| |_) | (_| | |   
//   |_| |_|\__,_| \_/ |_.__/ \__,_|_|   
//                                       

#main-nav {
  flex: 0 0 auto;
  -webkit-box-shadow: 0px 99px 80px 29px rgba(0,0,0,1);
  -moz-box-shadow: 0px 99px 80px 29px rgba(0,0,0,1);
  box-shadow: 0px 99px 80px 29px rgba(0,0,0,1);
}

#main-nav a {
  color: var(--secondary-color);
}

#main-nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 3em;
  margin: 0;
}

#main-nav li {
  list-style-type: none;
}


//                _                 _   _                 
//               (_)               | | (_)                
//     __ _ _ __  _ _ __ ___   __ _| |_ _  ___  _ __  ___ 
//    / _` | '_ \| | '_ ` _ \ / _` | __| |/ _ \| '_ \/ __|
//   | (_| | | | | | | | | | | (_| | |_| | (_) | | | \__ \
//    \__,_|_| |_|_|_| |_| |_|\__,_|\__|_|\___/|_| |_|___/
//                                                        

.slide-bottom {
	-webkit-animation: slide-bottom var(--slide-bottom-duration, .8s) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom var(--slide-bottom-duration, .8s) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
            transform: translateY(var(--slide-bottom-y-origin, -60px));
  }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
            transform: translateY(var(--slide-bottom-y-target, 0));
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
            transform: translateY(var(--slide-bottom-y-origin, -60px));
  }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
            transform: translateY(var(--slide-bottom-y-target, 0));
  }
}