*, :before, :after {box-sizing:border-box;}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root {
  --primary-color: #233755;
  --secondary-color: #98A0B0;
  --tertiary-color: #ABB2BD;
  --quaternary-color: #EFEFEF;
  --quinary-color: #FDFDFD;
  --senary-color: #FFFFFF;

  --primary-action-color: #337ab7;
  --secondary-action-color: #aac5db;

  --star-color: #F2A138;

  --main-shadow-color: 0 0 10px 5px rgba(0,0,0,0.1);

  --primary-text-size: 20px;
  --secondary-text-size: 18px;
  --tertiary-text-size: 16px;
  --quaternary-text-size: 15px;
  --quinary-text-size: 13px;
  --senary-text-size: 12px;

  --input-size: 18px;

  --primary-text-weight: 600;
  --secondary-text-weight: 400;
  --tertiary-text-weight: 300;

  --primary-text-lineheight: 1.1;
  --secondary-text-lineheight: 1.4;

  --border-radius: 5px;
  --input-border-radius: 8px;

  --gutter: 1.5rem;
}

body {
  margin:0;
  font: var(--secondary-text-size) "Open Sans",sans-serif;
  font-weight: var(--secondary-text-weight);
  line-height: var(primary-text-lineheight);
  color: var(--secondary-color);
  background-color: var(--senary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

#main-content {
  flex: 1 1 auto;
  overflow-y: auto;
}

img {max-width: 100%;}

a {
  text-decoration: none;
  color: var(--primary-action-color);
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  color: var(--primary-color);
  margin-bottom: 0;
  margin-top: 0;
}
h1 {
  font-size: var(--primary-text-size);
  font-weight: var(--primary-text-weight);
}
h2 {
  font-size: var(--secondary-text-size);
  font-weight: var(--primary-text-weight);
}

input[type="text"], input[type="password"], textarea {
  width: 100%;
  font-size: var(--input-size);
  font-weight: var(--tertiary-text-weight);
  background-color: var(--quinary-color);
  border: 1px solid var(--quaternary-color);
  border-radius: var(--input-border-radius);
  color: var(--primary-color);
}
label {
  font-size: var(--quaternary-text-size);
  font-weight: var(--primary-text-weight);
  color: var(--secondary-color);
}
textarea:focus, input:focus, button:focus {
  outline: none;
}
::placeholder {
  color: var(--secondary-color);
}

.btn-structure {
  width: 100%;
  padding-top: .8em;
  padding-bottom: .8em;
  margin-bottom: 1em;
  border-radius: var(--input-border-radius);
  font-size: var(--secondary-text-size);
  cursor: pointer;
}

.btn-primary {
  @extend .btn-structure;

  background-color: var(--primary-action-color);
  color: var(--senary-color);
  border: 0;
}

.btn-secondary {
  @extend .btn-structure;

  background-color: var(--quinary-color);
  color: var(--primary-action-color);
  border: 1px solid var(--secondary-action-color);
}

.social-logins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a:hover {
    text-decoration: none;
  }
  a:before {
    font-family: 'FontAwesome';
    speak: none;
    font-size: 1.6em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
  }

  #btn-twitter, #btn-facebook {
    @extend .btn-secondary;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: .5em;
  }
  #btn-twitter:before  {
    content: "\f099";
    color: #1DA1F2;
    padding-right: .5em;
  }
  #btn-facebook:before {
    content: "\f082";
    color: #4267B2;
    padding-right: .5em;
  }
}


//    _           _                   _     _ _             
//   (_)         | |                 (_)   (_) |            
//    _ _ __   __| | _____  __ __   ___ ___ _| |_ ___  _ __ 
//   | | '_ \ / _` |/ _ \ \/ / \ \ / / / __| | __/ _ \| '__|
//   | | | | | (_| |  __/>  <   \ V /| \__ \ | || (_) | |   
//   |_|_| |_|\__,_|\___/_/\_\   \_/ |_|___/_|\__\___/|_|   
//                                                          
                                                    
#container-index-visitor {
  min-height: 100vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 400px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: -30px;
  }

  h2 {
    font-size: var(--secondary-text-size);
    margin-bottom: 3em;
  }

  main {
    margin: var(--gutter);

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      input {
        text-align: center;
        padding-top: .8em;
        padding-bottom: .8em;
        margin-bottom: .5em;
      }
    
      button {
        @extend .btn-primary;
      }
    }
  }
}

#container-index-visitor .social-logins {
  p {
    padding-top: .6em;
    padding-bottom: .3em;
  }

  #signup {
    color: var(--primary-color);
  }
}


//    _           _                                      _               
//   (_)         | |                                    | |              
//    _ _ __   __| | _____  __  _ __ ___   ___ _ __ ___ | |__   ___ _ __ 
//   | | '_ \ / _` |/ _ \ \/ / | '_ ` _ \ / _ \ '_ ` _ \| '_ \ / _ \ '__|
//   | | | | | (_| |  __/>  <  | | | | | |  __/ | | | | | |_) |  __/ |   
//   |_|_| |_|\__,_|\___/_/\_\ |_| |_| |_|\___|_| |_| |_|_.__/ \___|_|   
//                                                                       

#container-index-member {
  background-color: var(--quinary-color);

  #search {
    margin-left: var(--gutter);
    margin-right: var(--gutter);
    padding-top: var(--gutter);

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: var(--input-size);
  
      background-color: var(--senary-color);
      border: 1px solid var(--quaternary-color);
      border-radius: var(--input-border-radius);

      
      i {
        margin-left: 1em;
      }
      input {
        background-color: var(--senary-color);
        width: 100%;
        padding: .8em 1em .7em 1em;
        border:0;
      }
    }
  }
}

#container-index-member #last-reviews {
  margin: var(--gutter);

  > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8em;

    a {
      font-size: var(--tertiary-text-size);
    }
  }

  > main {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-right: calc(var(--gutter) * -1);
    overflow: auto;
  }
}

#container-index-member #last-reviews .last-review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--senary-color);
  border-radius: var(--input-border-radius);
  margin-right: 1em;

  border: 1px solid var(--quaternary-color);

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .5em;

    margin-bottom: .5em;
    border-bottom: 1px solid var(--quaternary-color);

    .user-avatar {
      display: flex;
      flex-direction: row;
      font-size: var(--senary-text-size);

      img {
        height: 40px;
        vertical-align: middle;
        border-radius: 50%;
        border: 2px solid white;
        margin-bottom: .6em;
        margin-left: 1em;
      }

      .user-details {
        display: flex;
        flex-direction: column;
        margin-left: .5em;
        margin-top: .2em;

        a {
          color: var(--primary-color);
          font-weight: var(--primary-text-weight);
        }

        > span {
          color: var(--tertiary-color);
        }
      }
    }

    .interactions {
      padding-right: 1em;
      padding-top: .2em;
    }
  }

  main {
    height: 90px;
    padding: .5em;
    font-size: var(--quaternary-text-size);
    margin-bottom: 1em;
    text-align: center;
    
    .user-rating {
      margin-bottom: .5em;
    }

    .user-review {
      width: 300px;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--senary-text-size);

    margin: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--quaternary-color);
    border: 1px solid var(--quinary-color);
    border-radius: var(--border-radius);

    .book-cover {
      img {
        height: 100px;
      }
      margin-right: 1em;
    }

    .book-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .book-title {
        color: var(--primary-color);
        font-weight: var(--primary-text-weight);
        margin-bottom: .3em;
      }

      .book-authors {
        color: var(--tertiary-color);
        margin-bottom: .3em;
      }
    }

  }
}

#container-index-member #user-lists {
  header {
    margin-top: 1.8em;
  }

  margin-top: .2em;

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: var(--tertiary-text-size);

    li {
      padding-top: .3em;
    }

    img {
      height: 60px;
      width: 60px;
      vertical-align: middle;
      border-radius: 50%;
      margin-bottom: .6em;
      border: 2px solid white;
    }
  }
}

#container-index-member #trending-books {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8em;

    a {
      font-size: var(--tertiary-text-size);
    }
  }

  main {
    display: flex;
    flex-direction: row;
    margin-right: calc(var(--gutter) * -1);
    overflow: auto;
    
    img {
      border-radius: var(--border-radius);
      height: 160px;
      width: 104px;
    }

    .trending-book {
      padding-top: 1.4em;
      margin-right: 1em;
      padding-bottom: .5em;

      a {
        color: var(--primary-color);
      }

      .description {
        overflow: hidden;
        width: 100px;

        h3 {
          color: var(--primary-color);
          font-size: var(--quinary-text-size);
          margin-top: .6em;
          margin-bottom: .3em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        p {
          margin-top: 0;
          font-size: var(--senary-text-size);
        }
      }
    }
  }
}


//    _                 _          _           _           
//   | |               | |        (_)         | |          
//   | |__   ___   ___ | | _____   _ _ __   __| | _____  __
//   | '_ \ / _ \ / _ \| |/ / __| | | '_ \ / _` |/ _ \ \/ /
//   | |_) | (_) | (_) |   <\__ \ | | | | | (_| |  __/>  < 
//   |_.__/ \___/ \___/|_|\_\___/ |_|_| |_|\__,_|\___/_/\_\
//                                                         

#books-index-container {
  margin: var(--gutter);
}


//    _                 _              _                   
//   | |               | |            | |                  
//   | |__   ___   ___ | | _____   ___| |__   _____      __
//   | '_ \ / _ \ / _ \| |/ / __| / __| '_ \ / _ \ \ /\ / /
//   | |_) | (_) | (_) |   <\__ \ \__ \ | | | (_) \ V  V / 
//   |_.__/ \___/ \___/|_|\_\___/ |___/_| |_|\___/ \_/\_/  
//                                                         

#container-books-show {
  margin: var(--gutter);

  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;

    a {
      color: var(--secondary-color);
    } 
  }

  #book {
    display: flex;
    flex-direction: row;

    h1 {
      font-size: var(--secondary-text-size);
    }

    h2 {
      font-size: var(--tertiary-text-size);
      font-weight: var(--secondary-text-weight);
    }

    .cover {
      width: 120px;
      margin-right: 1em;
    }

    .main-details {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        color: var(--secondary-color);
      }
  
      p {
        margin-bottom: 0;

        span {
          font-size: var(--senary-text-size);
        }
      }
    }
  }
}

#container-books-show #interactions {
  margin-top: .5em;
  margin-bottom: .5em;
  border-top: solid 2px var(--quinary-color);
  border-bottom: solid 2px var(--quinary-color);

  ul {
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    margin: 0;

    li {
      font-size: var(--tertiary-text-size);
      list-style-type: none;
      vertical-align: middle;

      i {
        color: var(--secondary-color);
      }

      span {
        color: var(--primary-color);
        margin-left: .5em;
      }
    }
  }
}

#container-books-show #description {
  background-color: var(--quinary-color);
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
  margin-bottom: 1em;
  padding: 1em var(--gutter);
  border-bottom: solid 2px var(--quinary-color);

  header {
    display: flex;
    justify-content: space-between;
  
    a {
      font-size: var(--tertiary-text-size)
    }
  }

  .tags ul {
    display: flex;
    margin: 0;
    padding: 0;
  
    li {
      list-style-type: none;
      vertical-align: middle;
      margin-right: .5em;
      border: 1px solid var(--quinary-color);
      padding: .2em .5em;
      font-size: var(--quinary-text-size);
  
      a {
        color: var(--secondary-color);
      }
    }
  }
}

#container-books-show #book-reviews {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  
  > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      font-size: var(--tertiary-text-size)
    }
  }

  > main {
    margin-top: 1em;
    padding-top: .5em;
  }
}

#container-books-show #book-reviews .book-review-card {
  display: flex;
  flex-direction: column;
  background-color: var(--quinary-color);
  border-radius: var(--border-radius);
  padding: .5em;
  margin-bottom: 1em;
  font-size: var(--tertiary-text-size);

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .6em;
    border-bottom: 1px solid var(--quinary-color);

    .user {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 40px;
        vertical-align: middle;
        border-radius: 50%;
      }

      > div {
        margin-left: .5em;
        font-size: var(--senary-text-size);

        a {
          color: var(--primary-color);
          font-weight: var(--primary-text-weight);
        }

        .review-date {
          display: block;
        }
      }
      
    }

    .interactions {
      i {
        padding-right: .5em;
        padding-top: .5em;
      }
    }
  }

  main {
    padding-top: 1em;
    padding-bottom: .5em;
    text-align: center;
    font-size: var(--tertiary-text-size);
    
    .user-rating {
      padding-bottom: .8em;
    }
  }
}

#container-books-show #popup-writing-review {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    margin-top: 1em;

    form {
      .bloc-rating {
        display: flex;
        flex-direction: row;
        align-items: center;

        fieldset {
          border: 0;
          padding-left: 0;
          width: 200px;
        }
        
        .rating > input { display: none; } 
        .rating > label:before { 
          margin: 5px;
          font-size: 1.25em;
          font-family: FontAwesome;
          display: inline-block;
          content: "\f005";
        }
        
        .rating > label { 
          color: var(--secondary-color); 
          float: right; 
        }
        
        // highlight stars on hover
        
        .rating > input:checked ~ label, // show gold star when clicked
        .rating:not(:checked) > label:hover, // hover current star
        .rating:not(:checked) > label:hover ~ label { color: var(--star-color); } // hover previous stars in list
        
        .rating > input:checked + label:hover, // hover current star when changing rating
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, // lighten current selection
        .rating > input:checked ~ label:hover ~ label { color: var(--star-color); } 

        #rating-label {
          flex: 1;
          font-size: var(--tertiary-text-size);
          text-align: center;
          padding-right: .2em;
          padding-bottom: .4em;
        }
      }
      
      textarea {
        width: 100%;
        font-size: var(--tertiary-text-size);
        line-height: var(--secondary-text-lineheight);
        padding: 1em;
      }

      .bloc-submit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: .2em;

        span {
          font-size: var(--tertiary-text-size);
        }

        button {
          color: var(--primary-action-color);
        }
        button[disabled=disabled], button:disabled {
          color: var(--secondary-color); 
        }
      }
    } 
  }
}




//                                  _                   
//                                 | |                  
//    _   _ ___  ___ _ __ ___   ___| |__   _____      __
//   | | | / __|/ _ \ '__/ __| / __| '_ \ / _ \ \ /\ / /
//   | |_| \__ \  __/ |  \__ \ \__ \ | | | (_) \ V  V / 
//    \__,_|___/\___|_|  |___/ |___/_| |_|\___/ \_/\_/  
//                                                      

#users-show-container {
  margin: var(--gutter);
}




//                     __ _ _      
//                    / _(_) |     
//    _ __  _ __ ___ | |_ _| | ___ 
//   | '_ \| '__/ _ \|  _| | |/ _ \
//   | |_) | | | (_) | | | | |  __/
//   | .__/|_|  \___/|_| |_|_|\___|
//   | |                           
//   |_|                           

#container-profile {
  background-color: var(--tertiary-color);

  header {
    margin-left: var(--gutter);
    margin-right: var(--gutter);
    margin-bottom: 1em;
    padding-top: 2em;

    h1 {
      color: var(--senary-color);
      margin-bottom: .5em;
    }
  
    img {
      vertical-align: middle;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid var(--senary-color);
    }
  }

  main {
    background-color: var(--senary-color);
    padding: var(--gutter);

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    h2 {
      font-size: var(--secondary-text-size);
      margin-bottom: .5em;
    }

    form {
      margin-bottom: 1.5em;
  
      fieldset {
        border: 0;
        margin: 0;
        margin-bottom: .5em;
        padding: 0;
  
        label {
          display: flex;
          flex-direction: column;
          padding-top: .5em;
  
          input {
            padding: .8em;
            margin-top: .8em;
            margin-bottom: 1em;
          }
        }
      }
  
      button {
        @extend .btn-primary;
      }
    }
  
    .social-logins {
      margin-bottom: 1.5em;

      h2 {
        margin-bottom: 1em;
      }
    }

    .logout {
      @extend .btn-secondary;

      text-align: center;
    }
  }
}


//                      _                    
//                     | |                   
//    _ __   __ ___   _| |__   __ _ _ __ ___ 
//   | '_ \ / _` \ \ / / '_ \ / _` | '__/ __|
//   | | | | (_| |\ V /| |_) | (_| | |  \__ \
//   |_| |_|\__,_| \_/ |_.__/ \__,_|_|  |___/
//                                                                              

#main-nav {
  flex: 0 0 auto;
  -webkit-box-shadow: 0px 99px 80px 29px rgba(0,0,0,1);
  -moz-box-shadow: 0px 99px 80px 29px rgba(0,0,0,1);
  box-shadow: 0px 99px 80px 29px rgba(0,0,0,1);

  a {
    color: var(--secondary-color);
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding: .5em 3em;
    margin: 0;

    li {
      list-style-type: none;
    }
  }
}


//                _                 _   _                 
//               (_)               | | (_)                
//     __ _ _ __  _ _ __ ___   __ _| |_ _  ___  _ __  ___ 
//    / _` | '_ \| | '_ ` _ \ / _` | __| |/ _ \| '_ \/ __|
//   | (_| | | | | | | | | | | (_| | |_| | (_) | | | \__ \
//    \__,_|_| |_|_|_| |_| |_|\__,_|\__|_|\___/|_| |_|___/
//                                                        

.slide-bottom {
	-webkit-animation: slide-bottom var(--slide-bottom-duration, .8s) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom var(--slide-bottom-duration, .8s) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
            transform: translateY(var(--slide-bottom-y-origin, -60px));
  }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
            transform: translateY(var(--slide-bottom-y-target, 0));
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(var(--slide-bottom-y-origin, -60px));
            transform: translateY(var(--slide-bottom-y-origin, -60px));
  }
  100% {
    -webkit-transform: translateY(var(--slide-bottom-y-target, 0));
            transform: translateY(var(--slide-bottom-y-target, 0));
  }
}